.divPopUp {
    left: 0;
    top: 0;
    background: rgba(128,128,128,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-y: scroll;
    display: none;
}

.divMiddlePopUpProcessando {
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 5;
    width: 120px;
    padding: 10px;
    top: 40%;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
}
